<div class="row subHeader" style="padding-left: 10px;">
    <h2>Manage Vendor - Stock Taking</h2>
  </div>

  <div class="container">

    <div class="zeroPaddingMarginSetting">
      <div class="card mb-4 shadow-sm pd-5">   
          
        <div class="card-body"> 

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="exampleFormControlTextarea1">Vendor Name</label>
                    <select [(ngModel)]="vendorId" class="form-control text-left"
                      placeholder="Select Vendor">
                      <option *ngFor="let item of vendorsDto" [value]="item.vendorId">
                        {{item.vendorName}}
                      </option>
                    </select>
                </div>
                <div class="form-group col-md-2">            
                </div>
                <div class="form-group col-md-4">  
                   <br/>
                   <button type="button" class="btn btn-outline-primary" (click)="searchInventoryCertificateByVendorId()"> Search 
                   </button>        
                </div>
                <div class="form-group col-md-2">            
                </div>
              </div>
          <div class="form-row">
            <table class="table">
                <thead>
                  <tr>
                    <th>Vendor</th>
                    <th>Opening Date</th>
                    <th>Closing Date</th>
                    <th>Opening Qty</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let inventoryCertificate of inventoryCertificatesDto">
                    <td data-name="Vendor :">{{inventoryCertificate.vendorName}}</td>
                    <td data-name="Opening Date :">{{inventoryCertificate.openingDate | date: 'd MMM yyyy'}}</td>
                    <td data-name="Closing Date :">{{inventoryCertificate?.closingDate | date: 'd MMM yyyy'}}</td>
                    <td data-name="Opening Qty :">{{inventoryCertificate.totalQuantity}}</td>
                    <td data-name="Select :">
                        <button type="button" class="btn btn-outline-primary"  (click)="viewInventoryCertificate(inventoryCertificate)">View</button>
                    </td>
                  </tr>                        
                </tbody>              
              </table>    
          </div>
        </div>
      </div>
    
  












