<div class="row subHeader">
    <h2>Login</h2>
  </div>
  
<div class="d-flex justify-content-center align-items-center mt-5" style="margin:0px;">
    <div class="card">
      
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">          
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="form px-4 pt-5">
                        <input type="text" name="" class="form-control text-left" placeholder="Username"
                            formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                        <input type="password" name="" class="form-control text-left" placeholder="Password"
                            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                        <p *ngIf="error" class="error">
                            {{ errorMessage }}
                        </p>
                        <button [disabled]="loading" class="btn btn-dark btn-block" style="float: right;">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>