<div class="custom-dialog">
  <button mat-raised-button [mat-dialog-close]="true" style="float: right;">Close</button>
  <h2 mat-dialog-title>Allocate Inventory</h2>
  <mat-dialog-content>
    <mat-divider></mat-divider>

    <div class="card mb-4 shadow-sm pd-5" style="color: black;">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Destination Vendor</label>
          <select [(ngModel)]="expectedInventoryDto.vendorId" class="form-control text-left"
            placeholder="Select Vendor">
            <option *ngFor="let item of vendorsDto" [value]="item.vendorId">
              {{item.vendorName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Allocated To Admin</label>
          <select [(ngModel)]="expectedInventoryDto.adminId" class="form-control text-left"
            placeholder="Select Admin">
            <option *ngFor="let item of usersDto" [value]="item.userId">
              {{item.firstname}}&nbsp;{{item.surname}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product Name</label>
          <select [(ngModel)]="expectedInventoryDto.inventoryId" class="form-control text-left"
            placeholder="Select Inventory">
            <option *ngFor="let item of inventoriesDto" [value]="item.inventoryId">
              {{item.productName}}
            </option>
          </select>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Quantity</label>
            <input type="text" class="form-control text-left" id="inputEmail4" placeholder="Quantity" (keypress)="numberOnly($event)"
              [(ngModel)]="expectedInventoryDto.quantity">
          </div>
          <div class="form-group col-md-6">            
          </div>
        </div>
       
        <button type="button" class="btn btn-outline-success" style="float: right;" (click)="saveAndAllocateInventory()">
          Allocate Inventory
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>