<div class="container" style="padding: 0px;">
    <div class="card mb-4 shadow-sm pd-5 cardContentStyle" style="border: solid 1px #6b84ab;">
        <div class="row subHeader" style="padding: 0px;margin: 0px;text-align: center;">
            <div class="col-md-12" style="text-align: center;">
                <h2>DashBoard</h2>
            </div>
        </div>

        <div class="card-body" style="padding: 3px;margin: 1px;">

            <div *ngIf="productionAdminRight()">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="goToPageNoParams('admin-production')">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">shopping_cart</mat-icon>&nbsp;
                                       Send Inventory To Warehouse
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <div *ngIf="adminRight()">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="goToPageNoParams('count-inventory')">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">shopping_cart</mat-icon>&nbsp;
                                        Await To Count&nbsp;&nbsp;({{allocatedItems}}) 
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="goToPageNoParams('send-inventory-vendor')">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">check_box</mat-icon>&nbsp;
                                        Send To Vendor&nbsp;&nbsp;({{countedItems}})
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-primary" disabled>
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">person</mat-icon>&nbsp;
                                        Returns
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>




            <div *ngIf="salesRight()">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="createOrder()">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">shopping_cart</mat-icon>&nbsp;
                                        Create Order
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="stockTaking()">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">check_box</mat-icon>&nbsp;
                                        Stock Taking
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="createNewCustomer()">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">person</mat-icon>&nbsp;
                                        New Customer
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xl-8">
                        <div class="card bg-c-white order-card" style="color: black;">
                            <button type="button" class="btn btn-outline-success" (click)="acceptInventoryInVendor()">
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">done</mat-icon>&nbsp;
                                        Accept Inventories
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-4 col-xl-4">
                        <div class="card bg-c-yellow order-card">
                            <button type="button" class="btn btn-outline-primary" disabled>
                                <div class="card-block">
                                    <h2 class="m-b-20">
                                        <mat-icon style="font-size: 50px;float: left;">person</mat-icon>&nbsp;
                                        Returns
                                    </h2>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-white order-card" style="color: black;">
                <div class="card-block">
                   <h2 class="m-b-20">Incoming Inventories</h2>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{inventoriesAwaitingForAccepted}}</span></h2>
                    <p class="m-b-0"><span class="f-right">
                        <button type="button" class="btn btn-outline-success" (click)="acceptInventoryInVendor()">Accept Inventories</button>
                    </span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-wgite order-card" style="color: black;">
                <div class="card-block">
                   <h2 class="m-b-20">Outgoing Inventories</h2>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{inventoriesOutgoingNotAccepted}}</span></h2>
                    <p class="m-b-0">
                        
                    <span class="f-right"><button type="button" class="btn btn-outline-primary" >View Status</button></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                  <h2 class="m-b-20">Customer</h2>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h2 class="m-b-20">Returns</h2>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
	</div>-->

<!--<div class="row">
        <div class="col-md-8 col-xl-9">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                   <h2 class="m-b-20">Stock Taking</h2>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Display Specials<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                   <h2 class="m-b-20">Special</h2>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
    </div>-->

<!--<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
               <h2 class="m-b-20">Customer</h2>
                <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
               <h2 class="m-b-20">Stock Taking</h2>
                <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
              <h2 class="m-b-20">Production</h2>
                <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h2 class="m-b-20">Intransit</h2>
                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
          <div class="card-block">
             <h2 class="m-b-20">Customer</h2>
              <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
          </div>
      </div>
  </div>
  
  <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
          <div class="card-block">
             <h2 class="m-b-20">Stock Taking</h2>
              <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
          </div>
      </div>
  </div>
  
  <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h2 class="m-b-20">Production</h2>
              <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
          </div>
      </div>
  </div>
  
  <div class="col-md-4 col-xl-3">
      <div class="card bg-c-pink order-card">
          <div class="card-block">
              <h2 class="m-b-20">Intransit</h2>
              <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
          </div>
      </div>
  </div>
</div>

-->